---
Language: Cpp
Standard: c++17
BasedOnStyle: WebKit

UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100

# Qt Ecosystem Specific Rules
StatementMacros:
    - Q_OBJECT
    - Q_PROPERTY
    - Q_ENUM
    - Q_ENUMS
    - Q_INTERFACES
    - signals
    - slots
    - Q_SIGNALS
    - Q_SLOTS
    - Q_FOREACH
    - foreach

# Prevent indentation of code between QT_BEGIN_NAMESPACE and QT_END_NAMESPACE
MacroBlockBegin: "^\\s*(QT_BEGIN_NAMESPACE|Q_OBJECT)\\s*$"
MacroBlockEnd: "^\\s*(QT_END_NAMESPACE)\\s*$"

# public/private/signals modifiers will be aligned with the class boundary (-4 spaces)
AccessModifierOffset: -4

# Braces and Wrapping
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: Never
    AfterEnum: false
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: true
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false

# Pointers and References
PointerAlignment: Right
DerivePointerAlignment: false

# Parameter Alignment
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true

# Cleanup and Includes
SortIncludes: CaseSensitive
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInAngles: Never
SpacesInParentheses: false
...

