---
Checks: '
  -*,
  readability-identifier-naming
'

CheckOptions:
  # Classes: PascalCase
  readability-identifier-naming.ClassCase: CamelCase

  # Structs and Enums: PascalCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase

  # Functions and Methods: camelCase with a verb prefix
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MethodCase: camelBack

  # Variables: lowerCamelCase
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack

  # Private members: lowerCamelCase with m_ prefix
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: m_

  # Parameters: _UPPER_SNAKE_CASE
  readability-identifier-naming.ParameterCase: UPPER_CASE
  readability-identifier-naming.ParameterPrefix: _

  # Constants: UPPER_SNAKE_CASE
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.LocalConstantCase: UPPER_CASE
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
...

